			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-library/releases/latest"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-library/branches/release5.2.0/"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest/"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/branches/release5.2.0/"/>
